body {
  font-family: 'Crimson Text', serif;
  color: #27213C;
}

#logo {
  text-align: center;
}

header {
  border-bottom: 1px solid #000;
}

h1 {
  font-family: 'Permanent Marker', cursive;
}

#content {
  display: flex;
  width: 100%;
}

.italics {
  font-style: italic;
}

#detail-wrapper {
  margin: 30px;
}

.comments {
  border-top: 1px solid #A47963;
}

.leaflet-container {
  height: 500px;
  width: 500px;
}
